<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/401cc96be7.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="./studentProfile.css">
    <title>Uni-Gura-<studentName>
    </title>
</head>

<body>

    <nav>
        <div class="title">
            <h1>Student Name</h1>
        </div>

        <div class="notification">
            <img src="./notification.png" alt="noti">
        </div>
    </nav>

    <div class="student">
        <div class="profile_info"> 
            <div class="student_pic">
                <img src="./profile.png" alt="profile_pic">
            </div>
            <div class="student_info">
                <ul>
                    <li>Student Name</li>
                    <li>Tel No</li>
                    <li>Email</li>
                    <li>Joined Date</li>
                </ul>

                <a href="#">
                    <h4><i class="fa-sharp fa-solid fa-arrow-up-right-from-square"></i> &nbspMORE DETAILS</h4>
                </a>
            </div>
        </div>

        <div class="class_pending_review_record_option_btn"> 
            <div class="classes info">
                <h3>Classes</h3>
                <h3>03</h3>
            </div>

            <div class="pending info">
                <h3>Pending</h3>
                <h3>Rs.1500</h3>
            </div>

            <div class="record info">
                <h3>Record</h3>
                <h3>02</h3>
            </div>

            <div class="option_btn">
                <a href="#"><i class="fa fa-duotone fa-trash"></i></a>
                <a href="#"><i class="fa fa-duotone fa-eye"></i></a>
                <a href="#"><i class="fa fa-duotone fa-comments"></i></a>
            </div>
        </div>
    </div>




    <div class="active_classes">
        <h1>Active Classes - <spn>2</spn>
        </h1>

        <div class="classes">

            <div class="class">
                <ul>
                    <li>Subject</li>
                    <li>Module Name</li>
                    <li>Tutor Name</li>
                </ul>
            </div>

            <div class="class">
                <ul>
                    <li>Subject</li>
                    <li>Module Name</li>
                    <li>Tutor Name</li>
                </ul>
            </div>

            <div class="class">
                <ul>
                    <li>Subject</li>
                    <li>Module Name</li>
                    <li>Tutor Name</li>
                </ul>
            </div>

            <div class="class">
                <ul>
                    <li>Subject</li>
                    <li>Module Name</li>
                    <li>Tutor Name</li>
                </ul>
            </div>

        </div>
    </div>

    <hr>

    <div class="finished_classes">
        <h1>Finished Classes - <spn>2</spn>
        </h1>

        <div class="classes">

            <div class="class">
                <ul>
                    <li>Subject</li>
                    <li>Module Name</li>
                    <li>Tutor Name</li>
                </ul>
            </div>

            <div class="class">
                <ul>
                    <li>Subject</li>
                    <li>Module Name</li>
                    <li>Tutor Name</li>
                </ul>
            </div>

            <div class="class">
                <ul>
                    <li>Subject</li>
                    <li>Module Name</li>
                    <li>Tutor Name</li>
                </ul>
            </div>

            <div class="class">
                <ul>
                    <li>Subject</li>
                    <li>Module Name</li>
                    <li>Tutor Name</li>
                </ul>
            </div>

        </div>
    </div>


</body>

</html>