<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./tutor.css">
    <script src="https://kit.fontawesome.com/401cc96be7.js" crossorigin="anonymous"></script>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>Document</title>
</head>

<body>

    <nav>
        <div class="title">
            <h1>Tutors</h1>
        </div>

        <div class="tutor_count">
            <h2>14</h2>
        </div>

        <div class="search_bar">
            <i class="fa fa-light fa-magnifying-glass"></i><input type="text" placeholder="Search...">
        </div>

        <div class="notification">
            <img src="./notification.png" alt="noti">
        </div>
    </nav>


    <div class="sub_bar">
        <div class="selection_bar">
            <div class="select_subject">
                <select name="subject" id="subject">
                    <option value="none" selected disabled hidden>Subject</option>
                    <option value="math">Math</option>
                    <option value="english">English</option>
                    <option value="science">Science</option>
                    <option value="history">History</option>
                </select>
            </div>

            <div class="select_mode">
                <select name="mode" id="mode">
                    <option value="none" selected disabled hidden>Mode</option>
                    <option value="online">Online</option>
                    <option value="offline">Physical</option>
                </select>
            </div>
        </div>

        <div class="sorting">
            <div class="sort_by">
                <select name="sort" id="sort">
                    <option value="none" selected disabled hidden>Sort By</option>
                    <option value="rating">Rating</option>
                    <option value="price">Fees</option>
                </select>
            </div>
        </div>
    </div>


    <div class="tutor_list">

        <div class="tutor">
            <div class="tutor_img">
                <img src="./profile.png" alt="tutor_img">
            </div>

            <div class="tutor_details">
                <div class="tutor_name">
                    <h3>Tutor 01</h3>
                </div>
                <div class="tutor_rate">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-regular fa-star"></i>

                </div>
            </div>

            <div class="subject_more_link">
                <a href="#">Subjects</a>
                <i class="fa-sharp fa-solid fa-arrow-up-right-from-square"></i>
            </div>
        </div>


        <div class="tutor">
            <div class="tutor_img">
                <img src="./profile.png" alt="tutor_img">
            </div>

            <div class="tutor_details">
                <div class="tutor_name">
                    <h3>Tutor 01</h3>
                </div>
                <div class="tutor_rate">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                </div>
            </div>

            <div class="subject_more_link">
                <a href="#">Subjects</a>
                <i class="fa-sharp fa-solid fa-arrow-up-right-from-square"></i>
            </div>
        </div>

        <div class="tutor">
            <div class="tutor_img">
                <img src="./profile.png" alt="tutor_img">
            </div>

            <div class="tutor_details">
                <div class="tutor_name">
                    <h3>Tutor 01</h3>
                </div>
                <div class="tutor_rate">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                </div>
            </div>

            <div class="subject_more_link">
                <a href="#">Subjects</a>
                <i class="fa-sharp fa-solid fa-arrow-up-right-from-square"></i>
            </div>
        </div>


        <div class="tutor">
            <div class="tutor_img">
                <img src="./profile.png" alt="tutor_img">
            </div>

            <div class="tutor_details">
                <div class="tutor_name">
                    <h3>Tutor 01</h3>
                </div>
                <div class="tutor_rate">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                </div>
            </div>

            <div class="subject_more_link">
                <a href="#">Subjects</a>
                <i class="fa-sharp fa-solid fa-arrow-up-right-from-square"></i>
            </div>
        </div>

    </div>

    


</body>

</html>