<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/401cc96be7.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="./tutorProfile.css">
    <title>Document</title>
</head>

<body>

    <nav>
        <div class="title">
            <h1>Tutor Name</h1>
        </div>

        <div class="notification">
            <img src="./notification.png" alt="noti">
        </div>
    </nav>


    <div class="tutor">
        <div class="profile_info">
            <div class="tutor_pic">
                <img src="./profile.png" alt="profile_pic">
            </div>
            <div class="tutor_info">
                <h1>Tutor Name</h1>
                <div class="rating">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                </div>
                <h3>Subject</h3>
            </div> 
        </div>

        <div class="time_slots"> 
            <img src="./timeslots.png" alt="">
        </div>



        <div class="class_earning_payoff_review_option_btn"> 
            <div class="classes info">
                <h3>Classes</h3>
                <h3>03</h3>
            </div>

            <div class="earnings info">
                <h3>Earnings</h3>
                <h3>Rs.1500</h3>
            </div>

            <div class="payoffs info">
                <h3>Payoffs</h3>
                <h3>Rs.2400</h3>
            </div>

            <div class="reviews info">
                <h3>Reviews</h3>
                <h3>02</h3>
            </div>

            <div class="option_btn">
                <a href="#"><i class="fa fa-duotone fa-trash"></i></a>
                <a href="#"><i class="fa fa-duotone fa-eye"></i></a>
                <a href="#"><i class="fa fa-duotone fa-comments"></i></a>
            </div>
        </div>
    </div>


    <div class="active_classes">
        <h1>Active Classes - <spn>2</spn>
        </h1>

        <div class="classes">
            <div class="class">
                <ul>
                    <li>Subject</li>
                    <li>Module Name</li>
                    <li>Tutor Name</li>
                </ul>
            </div>

            <div class="class">
                <ul>
                    <li>Subject</li>
                    <li>Module Name</li>
                    <li>Tutor Name</li>
                </ul>
            </div>

            <div class="class">
                <ul>
                    <li>Subject</li>
                    <li>Module Name</li>
                    <li>Tutor Name</li>
                </ul>
            </div>

        </div>
    </div>


</body>

</html>